                /* universal & common styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'inter', 'sans-serif';
}
a{
    text-decoration: none;
}
ol, ul{
    list-style-type: none;
    display: flex;
}
button{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
button:hover{
    background-color: rgb(0, 123, 255);
}

                    /* nav aria */
nav{
    background-color: FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
}
nav ul li{
    margin: 0 10px;
    font-size: 1.2rem;
}
nav li a{
    
                    /* header aria */
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
}
header div{
    margin: 60px 0 0 0;
}
header h3{
    font-size: 3.5rem;
}
header h3 span{
    font-style: italic;
}
header p{
    font-size: 1rem;
    width: 30rem;
    margin: 0 auto 0 auto;
}
header button{
    margin: 0 auto 30px auto;
}

                    /* speaker layout */

.speaker-layout{
    width: 80%;
    margin: auto;
}
.speaker-layout h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
}
.speaker-profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
} 
.speaker-profile div{
    width: 32rem;
    border: 0.1px solid rgb(228, 228, 238);
    border-radius: 10px;
}
.speaker-profile img{
    width: 32rem;
}
.speaker-profile p{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 1rem;
}
.speaker-profile p :nth-child(1) {
    font-size: 0.5rem;
    color: blue;
}
.speaker-profile p :nth-child(2) {
    font-size: .8rem;
    font-weight: bold;
}
.speaker-profile p :nth-child(3){
    font-size: 0.5rem;
}
.speaker-layout 